
<layout name="Base/layout"/>

<div class="main">
    <a href="{:U('Area/add')}">添加大区</a>
	<!-- 
	<select>
		<option value="1">微信</option>
		<option value="2">QQ</option>
	</select>
	<button>查询</button> 
	-->
    <table>
        <tr>
            <td>类型</td>
            <td>区号</td>
            <td>区名</td>
            <td>角色数</td>
			<td>管理</td>
        </tr>
        
        <foreach name="_list" item="item">
            <tr>
                <td>
					<input type="hidden" id="id" value="{$item.area_id}" />
					<if condition="$item.type eq 1">微信
					<elseif condition="$item.type eq 2" />QQ
					</if>
				</td>
                <td>{$item.area_no}</td>
				<td>{$item.area_name}</td>
				<td>{$item.user_count}</td>
                <td>
                    <a href="{:U('dodel',array('area_id'=>$item['area_id']))}">删除</a>
					<a href="{:U('edit',array('area_id'=>$item['area_id']))}">编辑</a>
                </td>
            </tr>
        </foreach>
    </table>
</div>